{% extends "base.html" %}
{% block content %}
    {% for dish in dishes %}
        <article class="media content-section">
           <!--<img class = "rounded-circle article-img" src="{{ dish.picture.url }}"  style="max-width:150px"> -->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ dish.name }}</a>
					<small class="text-muted">{{ dish.description }}</small>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}